src/test/resources/it12/xsd/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.bicat.com/wise4all/ws"
           xmlns="http://www.bicat.com/wise4all/ws"
           elementFormDefault="qualified">

 <xs:include schemaLocation="simpletypes.xsd"/>

 <xs:element name="DoRequest" type="c_DoRequest" />

 <xs:complexType name="c_DoRequest">
  <xs:sequence>
   <xs:element name="systeem" type="t_systeem"/>
  </xs:sequence>
 </xs:complexType>

</xs:schema>
